.item{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin-left:10px ;
    min-width: 20px;
}
.item.disable{
    color:#ccc;
    cursor: not-allowed;
}
.item.countPage{
    border: none;

}

.item.active {
    border: none;
    color:red;
}