* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@media screen and (min-width: 1080px) {
  body {
    width: 1080px;
  }
}

html {
  font-size: 9.259259259259261vw;
}

html body {
  font-size: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

html body .clearFix::after {
  content: "";
  clear: both;
}

html body .red {
  color: #d12b4d;
}

html body .left {
  float: left;
}

html body .right {
  float: right;
}

.heard {
  width: 100vw;
  height: 16.2963vw;
  margin: 0 auto;
  background-color: #46ae00;
}

.heard .logo {
  width: 45.18519vw;
  height: 13.88889vw;
  background-size: cover;
}

.heard .icon {
  width: 8.14815vw;
  height: 0.74074x8vw;
  margin-top: 4.62963vw;
}

.heard .search {
  margin-right: 6.48148vw;
}

.heard .iconDiv {
  margin-right: 3.88889vw;
}

.ad {
  margin: 0 auto;
  padding: 0;
}

.ad img {
  width: 100vw;
  height: 50.09259vw;
}

.list {
  width: 100vw;
  height: 33.33333vw;
}
