.userInfo{
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 40px;
    margin-top: 30px;
    .content{
        // width: 400px;
        // height: 250px;
        // margin: 0 auto;
    }
}
.SelectTemplateTypes{
    display: flex;
    justify-content: center;
    align-items: center;
    .right{
        margin-left: 200px;
    }
}