
.userName{
    text-align: center;
    margin-top: 40px;
    label{
        font-size: 30px;
        line-height: 60px;
    }
    .texthosno_inputhosno {
        vertical-align: top;
        font-size: 50px;
        width: 400px;
        height: 60px;
        font-weight: bold;
        // background-color: transparent;
        border: none;
        border-radius: 10px;
        color: #499fff;
    }
}

.password{
    text-align: center;
    margin-top: 40px;
    label{
        font-size: 30px;
        line-height: 40px;
    }
    .texthosno_password {
        vertical-align: top;
        font-size: 50px;
        width: 400px;
        height: 60px;
        font-weight: bold;
        // background-color: transparent;
        border: none;
        border-radius: 10px;
        color: #499fff;
    }
}
.title{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    .ant-result {
        .ant-result-icon > .anticon{
            font-size: 100px;
        }
        .ant-result-title{
            font-size: 50px;
        }
        .ant-result-subtitle{
            font-size: 40px;
        }
    }
}