.appear,.enter{
    opacity: 0;
}

.appear-active,.enter-active{
    opacity: 1;
    transition: 5s;
}
.appear-done,.enter-done{
    opacity: 1;
}

.exit{
    opacity: 1;
}


.exit-active{
    opacity: 0;
    transition: 5s;
}
.exit-done{
    opacity: 0;
}