.ant-layout {
    height: 100%;
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
    .ant-layout-header{
        padding: 0 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        color: #fff;
        .logo{
            float: left;
        }
        .user{
            float: right;
        }
    }
    .site-layout-background {
        background: #ccc;
    }
}