:root{
    width:100%;
    height:100%;
    html{
        padding:0;
        margin:0;
        width:100%;
        height:100%;
    }
    body{
        padding:0;
        margin:0;
        width:100%;
        height:100%;
        overflow: hidden;
        background-repeat:no-repeat;
        background-size: 100% 100%;
    }
}
.wrapper{
    width:100vw;
    height:100vh;
    background:rgba(0, 0,0, 0.7);
}
.song{
    width:100%;
    height:100%;
    .song-img{
        width:100%;
        height:250px;
        // margin-left:-10px; 
        display: flex;
        justify-content: center;
        align-items: center;
        .img{
            position: relative;
            width:150px;
            height:150px;
            border-radius: 50%;
            img{
                display: block;
                width:150px;
                height:150px;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 5px #000;
            }
        }
    }
    .song-info{
        width:100%;
        height:200px;
        text-align: center;
        color: #fff;
        div {
            margin-top: 20px; 
        }
        .song-name{
            font-size:30px;
        }
    }
    .pro{
        display:flex;
        .cur-timer,
        .all-time{
            width:60px;
            height:40px;
            color: #fff;
            // border:1px solid #ccc;
            text-align: center;
            line-height: 40px;
        }
        .pro-wrapper{
            flex:1;
            // border:1px solid #ccc;
        }

    }

    .control{
        // box-sizing: border-box;
        width:100%;
        height:60px;
        position: absolute;
        bottom:0;
        background:rgba(0,0,0,0.9);
        display: flex;
        .btn{
            flex:1px;
            width:20%;
            height:100%;
            // border: 1px solid #ccc;
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center center;
        }
        .like{
            background-image:url(../img/icon-like.png);
            &.likeing{
                background-image:url(../img/icon-like-solid.png);
            }
        }
        .list{
            background-image:url(../img/icon-list.png);
        }
        .prev{
            background-image:url(../img/icon-prev.png);
        }
        .play{
            background-image:url(../img/icon-play.png);
            &.playing{
                background-image:url(../img/icon-pause.png);
 
            }
        }
        .next{
            background-image:url(../img/icon-next.png);
        }
    }
}