* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  body {
    width: 750;
  }
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f0f0;
}

body .clearFix::after {
  content: "";
  clear: both;
}

body .red {
  color: #d12b4d;
}

.hearder {
  margin: 0 auto;
  height: 2.13333rem;
  line-height: 2.13333rem;
  width: 16rem;
  background-color: #d22147;
  font-size: 0.59733rem;
  display: flex;
  align-items: center;
}

.hearder a:nth-of-type(1) {
  color: #fff;
  text-align: center;
  flex: 0 0 3.41333rem;
}

.hearder a:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  width: 0.68267rem;
  height: 0.59733rem;
  background: url("../images/ico_01.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
  margin-left: 0.17067rem;
}

.hearder a:nth-of-type(2) {
  color: #fff;
  text-align: center;
  flex: 0 0 2.98667rem;
}

.hearder a:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  width: 0.68267rem;
  height: 0.59733rem;
  background: url("../images/ico_03.png") no-repeat;
  background-size: 100%;
  margin-right: 0.17067rem;
}

.hearder .input {
  flex: 1;
}

.hearder .input input {
  width: 100%;
  height: 1.36533rem;
  border-radius: 8px;
  background: #ae3e56 url("../images/ico_02.png") no-repeat 8px 5px;
  background-size: 0.93867rem 0.98133rem;
  border: none;
}

.hearder .input input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  text-indent: 1.45067rem;
  font-size: 0.59733rem;
}

.banner {
  text-align: center;
}

.banner img {
  width: 16rem;
}

nav {
  margin: 0 auto;
  width: 16rem;
  height: 7.59467rem;
  background-color: #f2f0f0;
}

nav img {
  width: 1.6rem;
  height: 1.6rem;
}

nav ul {
  margin: 0 auto;
  font-size: 0;
}

nav ul li {
  width: 25%;
  float: left;
  text-align: center;
  font-size: 0.59733rem;
}

nav ul:nth-of-type(1) li {
  margin: 0.85333rem 0 0 0;
}

nav ul:nth-of-type(2) li {
  margin: 0.85333rem 0 0.85333rem 0;
}

.ad {
  width: 16rem;
  margin: 0 auto;
}

.ad .test a {
  margin: 0 auto;
  float: left;
}

.ad img {
  margin: 0 auto;
  width: 5.33333rem;
  height: 5.33333rem;
}

.ad1 {
  margin: 0 auto;
  width: 16rem;
}

.ad1 img {
  width: 16rem;
}

.list {
  margin: 0 auto;
  background-color: #fff;
  width: 16rem;
}

.list .title {
  font-size: 0.68267rem;
  height: 1.70667rem;
  line-height: 1.70667rem;
  text-indent: 0.55467rem;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
}

.list .title .text {
  height: 1.70667rem;
  line-height: 1.70667rem;
  vertical-align: middle;
}

.list .title .text::before {
  content: "";
  display: inline-block;
  width: 0.21333rem;
  height: 0.72533rem;
  background-color: #cc0530;
  border-radius: 1.664rem;
  margin-right: 0.512rem;
  vertical-align: middle;
  margin-bottom: 0.21333rem;
}

.list article {
  font-size: 0.512rem;
  width: 16rem;
  height: 5.03467rem;
  padding-top: 0.42667rem;
  border-bottom: 1px solid #c6c6c6;
}

.list article img {
  width: 4.608rem;
  height: 4.18133rem;
  border-radius: 0.21333rem;
  margin-left: 0.46933rem;
  margin-right: 0.72533rem;
  float: left;
}

.list article .content {
  width: 16rem;
}

.list article .content .warestitle {
  display: inline-block;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.59733rem;
}

.list article .content .warestitlecontent {
  color: #c6c6c6;
  line-height: 0.768rem;
  width: 14.93333rem;
}

.list article .content .warestitlebottom {
  line-height: 0.72533rem;
  margin-top: 0.384rem;
}

.list article .content .warestitlebottom .discount {
  color: #fff;
  background: url("../images/ico_04.gif") no-repeat;
  background-size: cover;
  display: inline-block;
  height: 0.72533rem;
  width: 1.81333rem;
  text-indent: 0.29867rem;
  line-height: 0.72533rem;
  margin-left: 0.34133rem;
  margin-right: 1.28rem;
}

.list article .content .warestitlebottom .envelopes {
  width: 2.73067rem;
  height: 0.72533rem;
  display: inline-block;
}

.list article .content .warestitlebottom .envelopes::before {
  content: "";
  display: inline-block;
  width: 0.59733rem;
  height: 0.512rem;
  background: url("../images/ico_05.png") no-repeat;
  background-size: cover;
  visibility: middle;
  margin-bottom: -2px;
}
